/* You can add global styles to this file, and also import other style files */
.tableRow{
    align-items: center;
}
.iconClass {
    width: 25px; 
    height: 25px; 
    margin-right: 5px;
}
.body-background {
    background-color: #f7f7f7; /* Universal background color */
}